name: ROS 2 Jazzy CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        ros_distro: [jazzy]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup ROS 2
        uses: ros-tooling/setup-ros@v0.7
        with:
          required-ros-distributions: ${{ matrix.ros_distro }}

      - name: Install dependencies
        run: |
          sudo apt update
          rosdep update
          rosdep install --from-paths . --ignore-src -r -y --rosdistro jazzy

      - name: Build with colcon
        run: |
          source /opt/ros/${{ matrix.ros_distro }}/setup.bash
          colcon build --event-handlers console_direct+ --symlink-install

      - name: Run tests
        run: |
          source install/setup.bash
          colcon test --event-handlers console_direct+ --return-code-on-test-failure

      - name: Check test results
        run: colcon test-result --verbose